
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /DigitalOcean/one-click-wordpress/no.domain.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /DigitalOcean/one-click-wordpress/no.domain.com/index.php [L]
</IfModule>

# END WordPress